{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    Main page
{% endblock %}

{% block content %}
<div class="offset-md-1 col-md-6">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet non itaque quo eius numquam in voluptas consequatur!
    Molestias animi mollitia, qua, veritatis accusantium voluptatibus? Aliquam dicta corporis debitis. Nostrum, in!
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet non itaque quo eius numquam in voluptas
        consequatur!
        Molestias animi mollitia, qua, veritatis accusantium voluptatibus? Aliquam dicta corporis debitis. Nostrum, in!
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet non itaque quo eius numquam in voluptas
        consequatur!
        Molestias animi mollitia, qua, veritatis accusantium voluptatibus? Aliquam dicta corporis debitis. Nostrum, in!
    </p>
</div>

{% endblock %}